<% staff_products.each do |staff_product| %>

    <section class="items-list-item">
        <div class="items-list-item-ceil product-list-ceil__id">
            <%= staff_product.id %>
        </div>
        <div class="items-list-item-ceil product-list-ceil__title">
            <div>
                <%= link_to edit_staff_product_path(staff_product) do %>
                    <%= staff_product.name %>
                    <md-tooltip md-direction="top">
                        <%= t('products.edit_go') %>
                    </md-tooltip>
                <% end %>
            </div>
        </div>

        <div class="items-list-item-ceil product-list-ceil__category">
            <%- if staff_product.category.present? %>
                <%= link_to edit_staff_category_path(staff_product.category) do %>
                    <%= staff_product.category.title %>
                    <md-tooltip md-direction="top">
                        <%= t('categories.edit_go') %>
                    </md-tooltip>
                <%- end %>
            <%- else %>
                <div class="label label-danger">нет категории</div>
            <%- end %>
        </div>
        <div class="items-list-item-ceil product-list-ceil__sku">
            <%= staff_product.sku %>
        </div>
        <div class="items-list-item-ceil product-list-ceil__actions">
            <%= link_to staff_product_path(staff_product),
                        method: :delete,
                        data:   { confirm: 'Are you sure?' },
                        class:  'btn btn-sm btn-danger' do %>
                <i class="fa fa-trash-o"></i>
                <md-tooltip md-direction="top">
                    <%= t('products.destroy') %>
                </md-tooltip>
            <%- end %>
        </div>
    </section>

<% end %>
