<% staff_products.each do |staff_product| %>

    <section class="items-list-item">
        <div class="items-list-item-ceil product-list-ceil__id">
            <%= staff_product.id %>
        </div>
        <div class="items-list-item-ceil product-list-ceil__title">
            <div>
                <%= link_to edit_staff_product_path(staff_product) do %>
                    <span uib-tooltip="<%= t('products.edit_go') %>">
                        <%= staff_product.name %>
                    </span>
                <% end %>
            </div>
        </div>

        <div class="items-list-item-ceil product-list-ceil__category">
            <%= link_to edit_staff_category_path(staff_product.category) do %>
                    <span uib-tooltip="<%= t('categories.edit_go') %>">
                        <%= staff_product.category.title %>
                    </span>
            <%- end %>
        </div>
        <div class="items-list-item-ceil product-list-ceil__sku">
            <%= staff_product.sku %>
        </div>
        <div class="items-list-item-ceil product-list-ceil__actions">
            <%= link_to staff_product_path(staff_product),
                        method: :delete,
                        data:   { confirm: 'Are you sure?' },
                        class:  'btn btn-sm btn-danger' do %>
                <i class="fa fa-trash-o" uib-tooltip="<%= t('products.destroy') %>"></i>
            <%- end %>
        </div>
    </section>

<% end %>
