<section class="page-title">
    <h1>
        <%= t('products.list') %>
    </h1>
    <div>
        <%= link_to new_staff_product_path, class: 'btn btn-sm btn-success' do %>
            <i class="fa fa-plus-circle"></i>
            <%= t('products.create') %>
        <% end %>
    </div>
</section>


<section class="b-list" ng-controller="ProductsIndexController">
    <section class="b-list-item b-list-item__head">
        <div class="b-list-ceil b-list-ceil__product-id">
            ID
        </div>
        <div class="b-list-ceil b-list-ceil__product-title">
            <%= t('activerecord.models.product.one') %>
        </div>
        <div class="b-list-ceil b-list-ceil__product-category">
            <%= t('activerecord.models.category.one') %>
        </div>
        <div class="b-list-ceil b-list-ceil__product-sku">
            <%= t('activerecord.attributes.product.sku') %>
        </div>
    </section>
    <%= render partial: "staff/products/list_item", locals: { staff_products: @staff_products, data: nil } %>
</section>


<%= paginate @staff_products %>
