<section class="page-title">
    <h1>
        <%= t('products.list') %>
    </h1>
    <div>
        <%= link_to new_staff_product_path, class: 'btn btn-sm btn-success' do %>
            <i class="fa fa-plus-circle"></i>
            <%= t('products.create') %>
        <% end %>
    </div>
</section>


<section class="items-list" ng-controller="ProductsIndexController">
    <section class="items-list-item items-list-item__head">
        <div class="items-list-item-ceil product-list-ceil__id">
            ID
        </div>
        <div class="items-list-item-ceil product-list-ceil__title">
            <%= t('activerecord.models.product.one') %>
        </div>
        <div class="items-list-item-ceil product-list-ceil__category">
            <%= t('activerecord.models.category.one') %>
        </div>
        <div class="items-list-item-ceil product-list-ceil__sku">
            <%= t('activerecord.attributes.product.sku') %>
        </div>
        <div class="items-list-item-ceil product-list-ceil__pubs"></div>
        <div class="items-list-item-ceil product-list-ceil__active"></div>
        <div class="items-list-item-ceil product-list-ceil__actions"></div>
    </section>
    <%= render partial: "staff/products/list_item", locals: { staff_products: @staff_products, data: nil } %>
</section>

<%= paginate @staff_products %>
