<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staff_product.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @staff_product.slug %>
</p>

<p>
  <strong>Hit:</strong>
  <%= @staff_product.hit %>
</p>

<p>
  <strong>New:</strong>
  <%= @staff_product.new %>
</p>

<p>
  <strong>Action:</strong>
  <%= @staff_product.action %>
</p>

<p>
  <strong>Active:</strong>
  <%= @staff_product.active %>
</p>

<p>
  <strong>Mini desc:</strong>
  <%= @staff_product.mini_desc %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @staff_product.desc %>
</p>

<p>
  <strong>Meta title:</strong>
  <%= @staff_product.meta_title %>
</p>

<p>
  <strong>Meta key:</strong>
  <%= @staff_product.meta_key %>
</p>

<p>
  <strong>Meta desc:</strong>
  <%= @staff_product.meta_desc %>
</p>

<%= link_to 'Edit', edit_staff_product_path(@staff_product) %> |
<%= link_to 'Back', staff_products_path %>
