<% if @config.errors.any? %>
    <div id="error_explanation"
         class="alert alert-danger">
        <h2><%= pluralize(@config.errors.count, "error") %> prohibited this config from being saved:</h2>

        <ul>
            <% @config.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<section class="panel panel-default">
    <section class="panel-body form-horizontal">

        <div class="form-group">
            <%= f.label :sitename, class: 'col-sm-2 control-label' do %>
                <%= Category.human_attribute_name("sitename") %>
            <% end %>
            <div class="col-sm-4">
                <%= f.text_field :sitename, class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
            <div class="pull-right col-sm-10">
                <%= f.check_box :google_analytics,
                                data: {
                                    "ng-init":   "google_analytics = #{@config.google_analytics}",
                                    "ng-model":   "google_analytics",
                                    "ng-checked": @config.google_analytics
                                }
                %>
                <%= f.label :google_analytics do %>
                    <%= Category.human_attribute_name("google_analytics") %>
                <% end %>
            </div>
        </div>


        <div class="form-group"
             ng-if="google_analytics">
            <%= f.label :google_analytics_counter_id, class: 'col-sm-2 control-label' do %>
                <%= Category.human_attribute_name("google_analytics_counter_id") %>
            <% end %>
            <div class="col-sm-4">
                <%= f.text_field :google_analytics_counter_id, class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :scripts, class: 'col-sm-2 control-label' do %>
                <%= Category.human_attribute_name("scripts") %>
            <% end %>
            <div class="col-sm-4">
                <%= f.text_field :scripts, class: "form-control" %>
            </div>
        </div>

    </section>
</section>
