<p id="notice"><%= notice %></p>

<p>
  <strong>Sitename:</strong>
  <%= @config.sitename %>
</p>

<p>
  <strong>Google analytics:</strong>
  <%= @config.google_analytics %>
</p>

<p>
  <strong>Google analytics counter:</strong>
  <%= @config.google_analytics_counter_id %>
</p>

<p>
  <strong>Scripts:</strong>
  <%= @config.scripts %>
</p>

<%= link_to 'Edit', edit_config_path(@config) %> |
<%= link_to 'Back', configs_path %>
