<!DOCTYPE html>
<html ng-app="eCommerceApp">
<head>
    <title>ECommerce|Staff</title>
    <base href="/staff/"/>
    <%= stylesheet_link_tag 'staff', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'staff', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= render 'staff/shared/header' %>

<%- if notice %>
    <div class="alert alert-success" role="alert">
        <%= notice %>
    </div>
<%- end %>
<%- if alert %>
    <div class="alert alert-warning" role="alert">
        <%= alert %>
    </div>
<%- end %>

<%= yield %>

<div ng-view></div>

</body>
</html>
