<!DOCTYPE html>
<html ng-app="eCommerceApp">
<head>
    <title>ECommerce|Staff</title>
    <base href="/staff/"/>
    <%= stylesheet_link_tag 'staff', media: 'all' %>
    <%= javascript_include_tag 'staff' %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= render 'staff/shared/header' %>
<%= render 'staff/shared/navbar' %>

<%- if notice %>
    <div class="alert alert-success" role="alert">
        <%= notice %>
    </div>
<%- end %>
<%- if alert %>
    <div class="alert alert-warning" role="alert">
        <%= alert %>
    </div>
<%- end %>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
