<section class="panel panel-default">
    <section class="panel-heading">
        <h3 class="panel-title">
            <%= t('info') %>
        </h3>
    </section>
    <section class="panel-body form-horizontal">
        <%= f.input :name, wrapper: :horizontal_form %>
        <%= f.input :photo, wrapper: :horizontal_form, :as => :image_preview, :input_html => { :preview_version => :thumb } %>
        <%- options = nested_set_options(Category, @category) { |i| "#{'-' * i.level} #{i.name}" } %>
        <%= f.input :parent_id, wrapper: :horizontal_form, collection: options %>
        <%= f.input :desc, wrapper: :horizontal_form, :as => :ckeditor, :input_html => { :ckeditor => { :toolbar => 'Full' } } %>
    </section>
</section>


<section class="panel panel-default">
    <section class="panel-heading">
        <h3 class="panel-title">
            <%= t('settings') %>
        </h3>
    </section>
    <section class="panel-body form-horizontal">

        <div class="form-group">
            <%= f.label :slug, class: 'col-sm-2 control-label' do %>
                <%= Category.human_attribute_name("slug") %>
            <% end %>
            <div class="col-sm-7">
                <div class="input-group">
                    <div class="input-group-addon" id="basic-addon3">
                        <%= shop_categories_url %>/
                    </div>
                    <%= f.text_field :slug, class: "form-control" %>
                </div>
            </div>
        </div>
        <%= f.input :active, wrapper: :horizontal_form %>
    </section>
</section>

<section class="panel panel-default">
    <section class="panel-heading">
        <h3 class="panel-title">
            <%= t('meta') %>
        </h3>
    </section>
    <section class="panel-body form-horizontal">
        <%= f.input :title, wrapper: :horizontal_form %>
        <%= f.input :meta_title, wrapper: :horizontal_form %>
        <%= f.input :meta_desc, wrapper: :horizontal_form %>
        <%= f.input :meta_key, wrapper: :horizontal_form %>
    </section>
</section>
