<% categories.each do |category| %>

    <section class="items-list-item items-list-item__level-<%= category.level %>"
             <%= data %>>
        <div class="items-list-item-ceil items-list-item-ceil__id">
            <%= category.id %>
        </div>
        <div class="items-list-item-ceil items-list-item-ceil__title">
            <%- unless category.leaf? %>
                <span class="btn btn-sm btn-items-list-collapse"
                      ng-init="isCollapsed_<%= category.id %> = true"
                      ng-click="isCollapsed_<%= category.id %> = !isCollapsed_<%= category.id %>"
                      ng-class="{'btn-default' : !isCollapsed_<%= category.id %>, 'btn-primary' : isCollapsed_<%= category.id %>}"
                >
                    <i class="fa fa-plus"
                       ng-if="isCollapsed_<%= category.id %>"></i>
                    <i class="fa fa-minus"
                       ng-if="!isCollapsed_<%= category.id %>"></i>
                </span>
            <%- else %>
                <i class="fa fa-folder-o items-list-icon-folder"></i>
            <%- end %>
            <div>
                <%= link_to edit_staff_category_path(category) do %>
                    <span uib-tooltip="<%= t('categories.edit_go') %>">
                        <%= category.name %>
                    </span>
                <%- end %>
            </div>
        </div>

        <div class="items-list-item-ceil items-list-item-ceil__url">
            <%= link_to shop_category_path(category), target: '_blank' do %>
                <i class="fa fa-external-link"></i>
                <span uib-tooltip="<%= t('categories.show_site') %>">
                    <%= category.slug %>
                </span>
            <%- end %>
        </div>
        <div class="items-list-item-ceil items-list-item-ceil__actions">
            <%= link_to staff_category_path(category),
                        method: :delete,
                        data:   { confirm: 'Are you sure?' },
                        class:  'btn btn-sm btn-danger' do %>
                <i class="fa fa-trash-o" uib-tooltip="<%= t('categories.destroy') %>"></i>
            <%- end %>
        </div>
    </section>

    <%- unless category.leaf? %>
        <%= render partial: "staff/categories/list_item", locals: { categories: category.children, data: "uib-collapse=isCollapsed_#{category.id}" } %>
    <%- end %>

<% end %>
