<section class="page-title">
    <h1>
        <%= t('categories.list') %>
    </h1>
    <div>
        <%= link_to new_staff_category_path, class: 'btn btn-sm btn-success' do %>
            <i class="fa fa-plus-circle"></i>
            <%= t('categories.create') %>
        <% end %>
    </div>
</section>


<section class="items-list">
    <section class="items-list-item items-list-item__head">
        <div class="items-list-item-ceil items-list-item-ceil__id">
            ID
        </div>
        <div class="items-list-item-ceil items-list-item-ceil__title">
            Название
        </div>
        <div class="items-list-item-ceil items-list-item-ceil__url">
            URL
        </div>
        <div class="items-list-item-ceil items-list-item-ceil__actions"></div>
    </section>
    <%= render partial: "staff/categories/list_item", locals: { categories: @categories, data: nil } %>
</section>

<%= paginate @categories %>
