<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @category.desc %>
</p>

<p>
  <strong>Meta title:</strong>
  <%= @category.meta_title %>
</p>

<p>
  <strong>Meta key:</strong>
  <%= @category.meta_key %>
</p>

<p>
  <strong>Meta desc:</strong>
  <%= @category.meta_desc %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @category.slug %>
</p>

<p>
  <strong>Pub:</strong>
  <%= @category.pub %>
</p>

<%= link_to 'Edit', edit_staff_category_path(@category) %> |
<%= link_to 'Back', staff_categories_path %>
