<%- content_for :meta do %>

    <%- if image.present? %>
        <%- image = root_url.gsub(/\/\Z/, '') + image %>
    <% end %>

    <%- unless canonical.blank? %>
        <link rel="canonical" href="<%= canonical %>"/>
    <% end %>

    <%- if noindex.present? %>
        <meta name="robots" content="noindex"/>
    <% end %>

    <title><%= meta_title %></title>
    <meta name="keywords" content="<%= meta_key %>"/>
    <meta name="description" content="<%= meta_desc %>"/>
    <meta property="og:url" content="<%= url %>"/>
    <meta property="og:title" content="<%= meta_title %>"/>
    <meta property="og:image" content="<%= image %>"/>
    <meta property="og:description" content="<%= meta_desc %>"/>
<% end %>
