<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Desc</th>
      <th>Meta title</th>
      <th>Meta key</th>
      <th>Meta desc</th>
      <th>Slug</th>
      <th>Pub</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.title %></td>
        <td><%= category.desc %></td>
        <td><%= category.meta_title %></td>
        <td><%= category.meta_key %></td>
        <td><%= category.meta_desc %></td>
        <td><%= category.slug %></td>
        <td><%= category.pub %></td>
      </tr>
    <% end %>
  </tbody>
</table>
