<%= render partial: "shared/meta",
           locals:  { meta_title: @category.meta_title,
                      meta_key:   @category.meta_key,
                      meta_desc:  @category.meta_desc,
                      url:        shop_category_url(@category),
                      image:      @category.photo.url,
                      canonical:  false,
                      noindex:    false } %>

<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @category.name %>
</p>

<p>
    <strong>Title:</strong>
    <%= @category.title %>
</p>

<p>
    <strong>Desc:</strong>
    <%= raw @category.desc %>
</p>

<p>
    <strong>Meta title:</strong>
    <%= @category.meta_title %>
</p>

<p>
    <strong>Meta key:</strong>
    <%= @category.meta_key %>
</p>

<p>
    <strong>Meta desc:</strong>
    <%= @category.meta_desc %>
</p>

<p>
    <strong>Slug:</strong>
    <%= @category.slug %>
</p>

<p>
    <strong>Pub:</strong>
    <%= @category.active %>
</p>


<div class="row">
    <%- @category.products.each do |product| %>
        <div class="col-md-3">
            <h3>
                <%= product.name %>
            </h3>
            <%= product.desc %>
        </div>
    <% end %>
</div>
