<!DOCTYPE html>
<html ng-app="eCommerceApp">
<head>
    <title>ECommerce</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= concept("navbar/cell") %>

<div class="container">
    <%= yield %>
</div>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
